include ../common/variable

mixin nav(item)
    ul
        li.poetsen(class="nav--item")
            a(href="./index.html") home
        each items in item
            li.poetsen(class="nav--item")
                a(href="./" + items + ".html")= items
        li.poetsen
            a(href="mailto:info@cynsings.com") contact
        li.poetsen
            a(href="https://shop.cynsings.com/") store

mixin musicCard(link,src,alt, classes, delay)
    .music__card(class= classes
                data-aos="zoom-in"
                data-aos-delay= delay
                data-aos-duration="650")
        a(href= link)
            img(src= src, alt= alt)

mixin videoCard(link, text , delay)
    figure.video__card(
        data-aos="zoom-in"
        data-aos-delay= delay
        data-aos-duration="650"
    )
        button.video--btn(type="image")
            img(src= link, alt= text)
            figcaption
                em.poetsen= text
mixin tableTd(date, city, venue,delay)
    tr.hanna(
        data-aos="fade-up"
        data-aos-duration="400"
        data-aos-delay= delay
    )
        td= date
        td= city
        td= venue
        td 
            a(href="#") buy rsvp